# Compiled files, executables
*.o
*.a
*.exe
*.out
*.app

# Junk
*.orig
*.log
*.bak

# IDE project files
.settings
.pioenvs
.piolibdeps
.pio/*
.clang_complete
.gcc-flags.json
platformio.ini
extra_envs.ini
lib/readme.txt
include/readme.txt
.history

# VSCode
.vscode

# Extras
extras/docs/*
extras/Module Datasheets/*
extras/Older Command Manuals/*
extras/Older Command Manuals/*
extras/At Command Manuals - Unsupported/*

# Filters
.gitconfig
filters/*

# Certificates
*.cert
*.crt
*.pem
*.key
src/CipherSuiteCodes.csv

# PlatformIO
pioScripts/*
variants/*
boards/*
tests/*
lib/*
platformio_extra_envs.ini
pio_common_libdeps.ini
continuous_integration/platformio_local.ini
continuous_integration/generate_local_tests.py
continuous_integration/parse_test_results.py

# Arduino CLI
continuous_integration/arduino_cli_local.yaml

# Local CI and Build Artifacts
home/arduino/*
continuous_integration_artifacts/*
clang_format_all.bat
generateKeywords.bat
installWorkingDependencies.bat
clang-format-all.py
runDoxygen.bat
compile_commands.json
run_CI_pipeline.bat
runCI.bat

# Local Documentation Artifacts
generated_docs/*
docs/__pycache__/*
docs/css/*
docs/*output*
docs/*.png
docs/*.js
docs/*.ttf
docs/directories.dox
docs/examples.dox
docs/clients*.dox
docs/supported_module_functions.dox
docs/DOC_TEMPLATE_*
docs/.doxybook/*
docs/create_client_dox.py
docs/generate_callable_docs.py
docs/generateLogos.py
DoxygenLayout.xml
docs/mcss-Doxyfile
docs/mcss-conf.py

# Other stuff
*.tar.gz
archive/*
src/wakeUp.h
**/__pycache__/**
AGENTS.md
.github/copilot-instructions.md
.bumpversion.toml
